* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 900px) {
  .divFormulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .grid-layout {
    display: grid;
    width: 80%;
    grid-template-columns: auto auto;
    margin: 0 auto;
    padding: 20px;
  }
  .caja {
    width: 170px;
    height: 210px;
    background-color: lightgray;
    margin: 15px;
    border-radius: 10px;
    list-style: none;
  }
  .box1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }
  .cardBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .charData {
    margin: 10px;
  }
  .total {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card-body {
    width: 170px;
    height: 210px;
    background-color: lightgray;
    margin: 15px;
    border-radius: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .cardProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-title {
    margin: 10px;
  }
  .totalBox {
    text-align: center;
  }
  .totalResults {
    text-align: center;
  }
  .input {
    border: 0;
    background-color: #F8F8F9;
    border-radius: 8px;
    height: 40px;
    width: 300px;
  }
  .inputTitle {
    font-size: 15px;
    font-weight: bold;
  }
  .submitBtn {
    background-color: #32D4A4;
    border: none;
    color: white;
    border-radius: 8px;
    height: 30px;
    width: 300px;
    font-weight: bold;
  }
  .mainTitle {
    font-weight: 200;
    margin-top: 40px;
  }
  .imgContainer {
    display: none;
  }
  #errorMessage {
    margin-top: 30px;
  }
  .advertisingText {
    margin: 35px;
  }
}
@media (min-width: 900px) {
  .divFormulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 30px;
    margin-right: 15px;
  }
  .grid-layout {
    display: grid;
    width: 80%;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    padding: 20px;
  }
  .caja {
    width: 170px;
    height: 210px;
    background-color: lightgray;
    margin: 15px;
    border-radius: 10px;
    list-style: none;
  }
  .box1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }
  .cardBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .charData {
    margin: 10px;
  }
  .total {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card-body {
    width: 170px;
    height: 210px;
    background-color: lightgray;
    margin: 15px;
    border-radius: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .cardProduct {
    display: grid;
    width: 80%;
    grid-template-columns: auto auto;
    margin: 0 auto;
    padding: 20px;
  }
  .card-title {
    margin: 10px;
  }
  .totalBox {
    text-align: center;
  }
  .totalResults {
    text-align: center;
  }
  .input {
    border: 0;
    background-color: #F8F8F9;
    border-radius: 8px;
    height: 40px;
    width: 300px;
  }
  .inputTitle {
    font-size: 15px;
    font-weight: bold;
  }
  .submitBtn {
    background-color: #32D4A4;
    border: none;
    color: white;
    border-radius: 8px;
    height: 30px;
    width: 300px;
    font-weight: bold;
  }
  .mainTitle {
    font-weight: 200;
    margin-top: 40px;
  }
  .mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .imgOffice {
    width: 100%;
    height: 750px;
  }
  .advertisingText {
    margin: 35px;
  }
}

/*# sourceMappingURL=styles.css.map */
